/** Joomla Hathor template specific styling / overrides =================================================== */
/* ========================================================================== Tools ========================================================================== */
/* Variables, functions and mixins ========================================================================== */
/** 1. Bourbon, needed for neat 2. Extending the neat library with own mixins 3. Neat: grid system */
/* 1 */
/* 2 */
/* 3 */
body.tmpl-hathor .subheader, body.tmpl-hathor .toolbar-box { display: none !important; }

body.tmpl-hathor #content { margin: 15px; }

body.tmpl-hathor #content > .k-heading { display: none !important; }

body.tmpl-hathor #element-box { border: 1px solid #ccc; }

@media (min-width: 300px) and (min-height: 391px) { .k-flexbox body.tmpl-hathor #element-box, .k-flexboxlegacy body.tmpl-hathor #element-box { display: flex; width: 100%; } }

body.tmpl-hathor .koowa-container { width: 100%; max-width: none; }
