/**
 * Joomla Hathor template specific styling / overrides
 * ===================================================
 */

@import "../../../../../library/resources/assets/scss/admin/core/tools";

body.tmpl-hathor {
  .subheader,
  .toolbar-box {
    display: none!important;
  }

  #content {
    margin: 15px;

    & > .k-heading {
      display: none!important;
    }
  }

  #element-box {
    border: 1px solid #ccc;

    @include flexbox {
      display: flex;
      width: 100%;
    }
  }

  .koowa-container {
    width: 100%;
    max-width: none;
  }
}
